:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.code-editor-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .editor-wrapper {
    flex: 1;
    min-height: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: #0b1220;

    .code-textarea {
      width: 100%;
      height: 100%;
      min-height: 400px;
      background: #0b1220;
      color: #e6eef8;
      border: 1px solid #2d4a6d;
      border-radius: 4px;
      padding: 12px;
      font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
      font-size: 14px;
      line-height: 1.6;
      resize: vertical;

      &:focus {
        outline: none;
        border-color: #4f9dff;
      }
    }

    .monaco-editor-container {
      height: 100%;
      width: 100%;
    }
  }
}