:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.code-editor-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .editor-wrapper {
    flex: 1;
    min-height: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: #0b1220;

    .monaco-editor-container {
      height: 100%;
      width: 100%;
    }
  }
}
